<div th:fragment="header">
    <div class="bg-dark text-light container-fluid">
        <h2>name</h2>
    </div>
</div>


<div th:fragment="left_meny">
    <div >
        <a th:href="@{/admin}">ADMIN</a>
        <br/>
        <a th:href="@{/user/users}">USER</a>
    </div>
</div>


<div th:fragment="admin_panel">
    <div >
        <h1>Admin panel</h1>

    </div>
</div>


<div th:fragment="add_user">
    <div>
        <form th:action="@{/admin/add}" th:method="POST">

            <div><label>
                <input placeholder="login"  type="text" th:name="username"/>
            </label></div>
            <div><label>
                <input placeholder="password" type="text" th:name="password"/>
            </label></div>
            <div><label>
                <input placeholder="role" type="text" th:name="role"/>
            </label></div>
            <br/>
            <div><input type="submit" value="Add user"/></div>
        </form>

    </div>
</div>

